

/* articles  */

.post-page {
  min-height: 100vh;
  background-color: #f9fafb;
  font-family: "Inter", sans-serif;
}

/* Hero Section */
.hero-section {
  background-color: #1a2c40;
  color: white;
  padding: 5rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.hero-meta {
  color: #879ed0;
  font-size: 1rem;
}

/* Main Layout */
.main-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
@media (min-width: 768px) {
  .main-grid {
      padding-top: 2.5rem !important;
    flex-direction: row;
    align-items: flex-start;
  }
}
